@charset "UTF-8";

.wrap{width:100%;}

.admin-header{border-bottom: 1px solid #222;display:flex;justify-content: space-between;align-items: center;}
.main-tab {display:flex;}
.main-tab li > a{padding:20px 40px;display: inline-block;font-size: 24px;font-weight: bold;border-right:1px solid #222;}
.main-tab li > a.on{background:#d9d9d9;}


.tab-content {display:none;}
.tab-content.on{display:block;}
.tab-content table{width:100%;}
.tab-content table thead th{}
.tab-content table td{border-left:1px solid #ccc;border-bottom:1px solid #ccc;}
.tab-content table th,
.tab-content table td{padding:10px;}
.tab-content table th:first-child,
.tab-content table td:first-child{border-left:none;}

/* 모든 sub-tab-content에 공통으로 적용되는 스타일 */
.sub-tab-content ul{width:100%;}
.sub-tab-content ul{
	width:100%;
	border-collapse: collapse;
	table-layout: fixed;
}
.sub-tab-content ul > li{display: flex;}
.sub-tab-content ul > li > div{
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding:10px;
	display:flex;
	align-items:center;
	justify-content: center
}
.sub-tab-content ul > li > div:last-child{border-right:1px solid #ccc;} /* 마지막 칸에 오른쪽 테두리 추가 */

/* 헤더 스타일 */
.sub-tab-content > ul:first-child {background:#92c5ff;}
.sub-tab-content > ul:first-child > li > div{
	border:1px solid #222;
	border-right:none;
}
.sub-tab-content > ul:first-child > li > div:last-child{border-right:1px solid #222;}


/* 숨긴 리뷰용 스타일 */
.sub-tab-content.member-hide ul > li > div:nth-child(1){width:80px;}  /* idx */
.sub-tab-content.member-hide ul > li > div:nth-child(2){width:40px;}  /* NO */
.sub-tab-content.member-hide ul > li > div:nth-child(3){width:120px;} /* 리뷰 작성자 */
.sub-tab-content.member-hide ul > li > div:nth-child(4){width:200px;} /* 리뷰사진 */
.sub-tab-content.member-hide ul > li > div:nth-child(5){width:200px;} /* 리뷰명 */
.sub-tab-content.member-hide ul > li > div:nth-child(6){width:80px;}  /* 리뷰 평점 */
.sub-tab-content.member-hide ul > li > div:nth-child(7){width:calc(100% - 720px);} /* 버튼 영역 */

/* 리뷰 신고용 스타일 */
.sub-tab-content.member-report ul > li > div:nth-child(1){width:80px;}  /* idx */
.sub-tab-content.member-report ul > li > div:nth-child(2){width:40px;}  /* NO */
.sub-tab-content.member-report ul > li > div:nth-child(3){width:120px;} /* 리뷰 작성자 */
.sub-tab-content.member-report ul > li > div:nth-child(4){width:180px;} /* 리뷰사진 */
.sub-tab-content.member-report ul > li > div:nth-child(5){width:180px;} /* 리뷰명 */
.sub-tab-content.member-report ul > li > div:nth-child(6){width:80px;}  /* 리뷰 평점 */
.sub-tab-content.member-report ul > li > div:nth-child(7){width:125px;} /* 신고된 날짜 */
.sub-tab-content.member-report ul > li > div:nth-child(8){width:100px;} /* 누적신고 수 */
.sub-tab-content.member-report ul > li > div:nth-child(9){width:calc(100% - 905px);} /* 버튼 영역 */

/* 숨긴 점포용 스타일 */
.sub-tab-content.store-hide ul > li > div:nth-child(1){width:40px;}  /* idx */
.sub-tab-content.store-hide ul > li > div:nth-child(2){width:40px;}  /* NO */
.sub-tab-content.store-hide ul > li > div:nth-child(3){width:200px;} /* 점포사진 */
.sub-tab-content.store-hide ul > li > div:nth-child(4){width:150px;} /* 점포명 */
.sub-tab-content.store-hide ul > li > div:nth-child(5){width:180px;} /* 점포연락처 */
.sub-tab-content.store-hide ul > li > div:nth-child(6){width:200px;}  /* 점포 주소 */
.sub-tab-content.store-hide ul > li > div:nth-child(7){width:120px;} /* 사업자등록번호 */
.sub-tab-content.store-hide ul > li > div:nth-child(8){width:calc(100% - 930px);} /* 버튼 영역 */

/* 점주 요청용 스타일 */
.sub-tab-content.store-request ul > li > div:nth-child(1){width:40px;}   /* idx */
.sub-tab-content.store-request ul > li > div:nth-child(2){width:40px;}   /* NO */
.sub-tab-content.store-request ul > li > div:nth-child(3){width:80px;}   /* 신청자 */
.sub-tab-content.store-request ul > li > div:nth-child(4){width:200px;}  /* 점포사진 */
.sub-tab-content.store-request ul > li > div:nth-child(5){width:150px;}  /* 점포명 */
.sub-tab-content.store-request ul > li > div:nth-child(6){width:180px;}  /* 점포 연락처 */
.sub-tab-content.store-request ul > li > div:nth-child(7){width:200px;}  /* 점포 주소 */
.sub-tab-content.store-request ul > li > div:nth-child(8){width:120px;}  /* 사업자등록번호 */
.sub-tab-content.store-request ul > li > div:nth-child(9){width:125px;} /* 신청일시 */
.sub-tab-content.store-request ul > li > div:nth-child(10){width:calc(100% - 1135px);} /* 버튼 영역 */

/* 점포 신고용 스타일 */
.sub-tab-content.store-report ul > li > div:nth-child(1){width:80px;}  /* idx */
.sub-tab-content.store-report ul > li > div:nth-child(2){width:150px;}  /* NO */
.sub-tab-content.store-report ul > li > div:nth-child(3){width:200px;} /* 점포사진 */
.sub-tab-content.store-report ul > li > div:nth-child(4){width:270px;} /* 점포명 */
.sub-tab-content.store-report ul > li > div:nth-child(5){width:160px;} /* 점포 연락처 */
.sub-tab-content.store-report ul > li > div:nth-child(6){width:250px;}  /* 점포 주소 */
.sub-tab-content.store-report ul > li > div:nth-child(7){width:125px;} /* 신고된날짜 */
.sub-tab-content.store-report ul > li > div:nth-child(8){width:100px;} /* 누적신고 수 */
.sub-tab-content.store-report ul > li > div:nth-child(9){width:calc(100% - 1295px);} /* 버튼 영역 */


/* 신고 상세 내용 스타일 */
.report-detail {display:none !important;}
.report-detail.on{display:block !important;}
.report-detail ul:first-child{background:#d9d9d9;}
.report-detail ul > li {display:flex;}
.report-detail ul > li > div{border-left:1px solid #ccc;border-bottom:1px solid #ccc;padding:10px;display:flex;align-items:center;justify-content: center}
.report-detail ul > li > div:nth-child(1){width:100px}  /* 신고자 */
.report-detail ul > li > div:nth-child(2){width:150px}  /* 카테고리 */
.report-detail ul > li > div:nth-child(3){width:calc(100% - 450px)}  /* 신고내용 */
.report-detail ul > li > div:nth-child(4){width:125px}  /* 신고날짜 */
.report-detail ul > li > div:nth-child(5){width:75px}   /* 버튼 영역 */


/* 버튼 상자 스타일 */
.btn-box {text-align:center;}
.btn-box button{
	background:none;
	border-radius:5px;
	padding: 5px 15px;
	text-align:center;
	font-weight:bold;
	border:1px solid #d9d9d9;
}
.btn-box .approve-btn{background: #BBDEFB;color:#1E3A8A;}
.btn-box .reject-btn{background: #F44336;color:#FFFFFF;}

/* 탭 스타일 */
.sub-tab{display:flex;}

.sub-tab a{display:inline-block;border-radius:10px 10px 0 0;border:1px solid #ccc;border-bottom:none;padding:15px;}
.sub-tab a.on{background:var(--point-color2);color:var(--font-color);font-weight:bold;}

.sub-tab-content{display:none;}
.sub-tab-content.on{display:block;}