@charset "UTF-8";

h3{font-size: 32px;font-weight:bold;}


.board-top{justify-content: space-between;align-items: center}
.right-con{align-items: center; display:flex;gap:15px;align-items: center}
.state-icon{width: 78px ;background: #f00; color:#fff; border-radius: 15px;padding:5px 15px;font-size: 12px !important;font-weight:bold;}
.open-icon{background: #4CAF50; color:#fff}
.planned-icon{background: #BBDEFB; color:#1E3A8A}
.warning-icon{background: #F44336;color:#FFFFFF;animation: warning 1s infinite step-start;}
.end-icon{background: #BDBDBD;color:#616161}
.new-icon{background: #f00; width:18px;height:18px; line-height:17px; text-align:center; font-size: 12px;  color:#fff;border-radius: 50%; margin-left: 10px; animation: warning 2s infinite step-start;}
.fixed-icon{background: #222;color:#fff; border-radius:10px; padding: 5px 15px;}
/* 카드 타입 */
.board-card{flex-wrap: wrap;}
.board-card .card-box{margin-bottom:20px}
.board-card .card-box > a{position: relative;}
.board-card .finsh-icon{position: absolute;top: 5px;left: 10px;}
.board-card .event-title{display:inline-block;font-size:14px;font-weight:bold}
.board-card .event-date{display:inline-block;font-size:14px;padding-bottom:5px}
.board-card .event-content{display:block;position: absolute;top: 0;left:0;width:100%;height:100%;background:rgba(18, 18, 18, 0.85); ;color:#E0E0E0;padding:15px;font-size:14px;opacity: 0;transition:0.1s linear}
.board-card .event-content h4{border-bottom:1px solid #fff;font-size:16px;font-weight:bold;padding-bottom:5px;margin-bottom:15px;}
.board-card .event-content p{
	line-height:1.5;
	display: -webkit-box;
  	-webkit-box-orient: vertical;
  	overflow: hidden;
  	-webkit-line-clamp: 10;
  	line-clamp: 10; /* 일부 브라우저 지원 */}
.board-card .card-box > a:hover .event-content{opacity: 1;}

/* 리스트 타입 */
.board-list{width: 100%;font-size: 16px;border-top:1px solid #222;border-right:1px solid #222;margin-top:15px;}
.board-list thead th,.board-list thead td {font-size:18px;font-weight:bold; border-left:1px solid #222;border-bottom:1px solid #222;padding:15px 0;background: var(--point-color);color:var(--font-color)}
.board-list a{display:block;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width:100%;height:27px;line-height:27px;}
.board-list span{font-size:14px;display:inline-block}

.board-list tr > td{border-bottom: 1px solid #222;border-left: 1px solid #222;vertical-align: middle;padding:10px;font-size:16px;}

.board-list tr > td:nth-child(n+3) {text-align:center;}

.board-type {gap:5px;}
.board-type input[type="checkbox"],
.board-type input[type="radio"]{width: 0;height: 0;z-index: -1; position:absolute; ;left: -9999px}
.board-type input[type="checkbox"] + label,
.board-type input[type="radio"] + label{display:flex; justify-content: center; align-items:center; min-width: 35px;height: 35px;border:1px solid #222; border-radius:5px;padding:5px;cursor:pointer}
.board-type input[type="checkbox"] + label .material-symbols-outlined,
.board-type input[type="radio"] + label .material-symbols-outlined {font-size:32px;font-variation-settings:'FILL' 0,'wght' 200,'GRAD' 0,'opsz' 48}
.board-type input[type="checkbox"]:checked + label .material-symbols-outlined,
.board-type input[type="radio"]:checked + label .material-symbols-outlined { font-variation-settings:'FILL' 1,'wght' 200,'GRAD' 0,'opsz' 48}
.board-type #filterChk + label{border-color:color:var(--font-color);box-shadow: 5px 5px 5px rgba(0,0,0,0.1);font-weight:bold;height:40px;padding:0 15px;}
.board-type #filterChk:checked + label{background:var(--point-color2);color:var(--font-color);}


.filter{position: absolute;top: 115px;right: 27%;height:0; opacity: 0; transition:0.1s ease; border: 1px solid #ccc;background: #fff;padding:10px;border-radius:5px;z-index:-1;box-shadow: 5px 5px 5px rgba(0,0,0,0.1);}
.filter.on{height:auto;opacity: 1;z-index:3;}
.filter li{border-bottom: 1px solid #d9d9d9;padding:10px 0;}
.filter li:last-child{border-bottom:none;text-align:right}
.filter li label{border:1px solid #ccc;background:#fff;color:#222;display:inline-block;padding:5px 10px;border-radius:15px;font-size:18px;}
.filter li input[type="checkbox"],.filter li input[type="radio"]{position: absolute;left:-9999px;opacity: 0;width:0;height:0}
.filter li input[type="checkbox"]:checked + label,
.filter li input[type="radio"]:checked + label{border:1px solid #ccc;background:var(--point-color2);color:var(--font-color);}
.filter h4{padding-bottom: 5px;margin-bottom: 5px;display:flex;align-items: center;gap:5px;}
.filter h4 .material-symbols-outlined {font-size:18px;font-variation-settings:'FILL' 0,'wght' 200,'GRAD' 0,'opsz' 48}
.filter button{background:var(--point-color2);color:var(--font-color);border:none;padding:5px 20px; border-radius:5px;font-size:18px;font-weight:bold}

.board-top .left-con{align-items: center;gab:10px;}
.board-top .left-con > div{border-left:1px solid #d9d9d9;padding:0px 10px;display:flex;align-items: center;gap:10px;}
.board-top .left-con > div:first-child{border-left:0;padding-left:0}
.board-top .left-con > div select{border:2px solid var(--font-color);padding:5px 15px;font-size:18px;border-radius:5px;height:40px;}
/* .btns-sort > div:last-child{border-right:0;} */
.board-top .left-con label{font-size:22px;}
.board-top .left-con input:checked + label{color:var(--font-color);font-weight:bold;}


.board-tab{display:flex;justify-content: flex-start;align-items: center;}
.board-tab li{width:33.3333%;}
.board-tab li:nth-last-child(2), .board-tab li:nth-last-child(2) + li{width: 50%;}
.board-tab li:nth-last-child(3), .board-tab li:nth-last-child(3) ~ li{width: 33.3333%;}
.board-tab li a{display:block;text-align:center;padding:20px 0;font-size:24px; font-weight:bold;border:1px solid #d9d9d9;}
.board-tab li a.on{background:var(--point-color2);color:var(--font-color);}

.empty-data{width: 100%; border:1px solid #d9d9d9 !important; text-align:center;padding:100px 0 !important;font-size:32px !important;font-weight:bold;color:#d9d9d9;}

#boardCard .card-img > span.loc{position: absolute;top:5px;left: 5px;display: inline-block;padding:5px 15px;font-size:12px;background:#222;color:#fff;border-radius:15px;}
#boardCard .card-text{position: relative;min-height:110px;padding:10px 15px;display:flex;flex-direction: column;justify-content: space-between;align-items: flex-start;}
#boardCard .icon-box{display:flex; align-items: center; gap:5px;font-size:16px;}
#boardCard .icon-box .material-symbols-outlined{font-size:16px;}

.search{font-size:18px;display:flex;gap:10px;align-items: center}
.search #boardSearch{height:40px;min-width:250px;border-radius:5px;}
.search button{height:40px;background:var(--point-color2);color:var(--font-color);border-radius:5px;padding:5px 15px;font-weight:bold;font-size:18px;}
.btn-box{display:flex;justify-content: flex-end;}
#registerBtn{background:var(--point-color3);color:var(--font-color);border-radius:5px;padding:10px 25px;font-size:18px;font-weight:bold}
@keyframes warning {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
}