@charset "UTF-8";

.header{ width: 100%; justify-content: space-between; align-items: center;height: 75px;padding:15px;border-bottom:1px solid #000}
.profile{width: 50px; height: 50px;border-radius: 50%;overflow: hidden; justify-content: space-between; align-items: center;}

.search-bar{min-width:450px; max-width:650px; width:100%; border:5px solid #000;border-radius:15px;height:100%}
.search-bar input{width: 98%;height: 100%;border:none;margin:0 auto;outline: none;display: block;font-size: 20px;}

.right-div {gap:10px;align-items: center;}
.right-div a{background: none;border: 1px solid #000;padding: 5px 15px;height: auto;}

.icon {position: relative;}
.icon span{position: absolute;top: -5px; right:-5px;display: inline-block;background: #f00;color:#fff;width: 20px;height: 20px;text-align: center;line-height: 10px;padding:5px;border-radius: 50%;font-size:14px}
.icon .fa-envelope{font-size:36px;}
.icon .material-symbols-outlined {
	font-size:36px;
	font-variation-settings:
	'FILL' 0,
	'wght' 300,
	'GRAD' 0,
	'opsz' 36
}

.wrap{width:1200px; position:relative;margin:0 auto}
.wrap.full{width:100%; height:100%; position:relative; margin:0 auto}

/* 리스트 카드형식 */
.board-card{overflow:hidden;padding: 10px 50px;width:1300px;margin-left:-50px;}
.card-box {width: 220px;border: 1px solid #000;border-radius: 15px;box-shadow: 0 0 10px rgba(0, 0, 0, .2);margin-left:25px}
.card-box:nth-child(5n - 4){margin-left: 0;}
.card-img {width: 100%; height: 200px;border-bottom: 1px solid #222;}
.card-text {display: -webkit-box;display: -ms-flexbox;display: box;margin:15px;height:80px;overflow:hidden;vertical-align:top;text-overflow: ellipsis;word-break:break-all;-webkit-box-orient:vertical;-webkit-line-clamp:5;}
.card-list{flex-wrap: wrap; justify-content: flex-start; }

/* 사이드바  */
.side-bar{opacity:0; transition: 0.25s ease;  position: fixed;right: -300px;top: 0;height: 100vh;background: #fff;width: 300px;z-index:11;border-left:1px solid #222;box-shadow: -5px 0 5px rgba(0,0,0,.05);}
.side-bar#list{left: -300px; overflow: auto;}
.side-bar#store{left: -300px; overflow: auto;}
.side-bar#event{left: -300px; overflow: auto;}
.side-bar#united{left: -300px; overflow: auto;}
.side-bar#toggle-box {opacity:1; left:300px; overflow:auto; background:transparent; top:50%; height:auto; width:50px; display:inline-flex; white-space:nowrap; position:absolute; transform:translateY(-50%);}
.side-bar.show{opacity:1; right:0}
.side-bar.show#list{opacity:1; left:0;}
.side-bar.show#store{opacity:1; left:300px; overflow: auto;}
.side-bar.show#event{opacity:1; left:300px; overflow: auto;}
.side-bar.show#united{opacity:1; left:300px; overflow: auto;}
.side-bar.show#toggle-box{opacity:1; left: 600px; overflow: auto;}
.side-bar .info{padding: 30px;align-items: center;gap:25px;border-bottom:1px solid #222;}
.side-bar .btn-list li > a{border-bottom:1px solid #222;background:#d9d9d9;padding: 10px 15px;display:block}
.side-bar .user-nickname{font-size:22px;font-weight:bold;margin-bottom:10px;}
.side-bar .close-btn{position: absolute;right: 10px;top: 10px;text-indent: -9999px;font-size: 0;width: 30px;height: 30px; background:none;border:none;cursor:pointer}
.side-bar .close-btn::before{content: "";width: 100%; height: 2px;background: #222; display: block; position: absolute; top: 50%; left: 0; transform: rotate(45deg);}
.side-bar .close-btn::after{content: "";width: 100%; height: 2px;background: #222; display: block; position: absolute; top: 50%; left: 0; transform: rotate(-45deg);}

.bg{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.7); z-index: 999;display:none}
.bg.on{display:block}
.pop-content{display:none; position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);background: #fff; max-width: 750px; width:100%; z-index:1000;max-height:550px;min-height:300px;text-align: center;padding:30px;border:2px solid #222;border-radius: 5px;}
.pop-content.on{display:block;}
.pop-content .inner{max-height: 315px;overflow-x: hidden;overflow-y: auto;border-bottom:1px solid #222;}
.pop-content h4{font-size: 24px;font-weight: bold;background: #d9d9d9;padding:10px 0;border-radius:5px}
.pop-content .letter-list{width: 100%;border-bottom:1px solid #222;border-left:1px solid #222;}
.pop-content .js-tab-content > .letter-list{font-size: 18px; font-weight: bold;background: #d9d9d9;}
.pop-content .letter-list:nth-child(1) .items{border-bottom: none;}
.pop-content .letter-list:nth-child(1) .items:nth-child(4){display: inline-block;}
.pop-content .letter-list#listBody {}
.pop-content .letter-list li{display: flex;align-items: center;}
.pop-content .letter-list li .items{width: 25px; border-top:1px solid #222;border-right:1px solid #222;padding:10px 0;height:40px}
.pop-content .letter-list li a.items{padding:10px 15px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;display:block;}
.pop-content .letter-list li .items:nth-child(1){width:20%;}
.pop-content .letter-list li .items:nth-child(2){width:50%;}
.pop-content .letter-list li .items:nth-child(3){width:20%;}
.pop-content .letter-list li .items:nth-child(4){width:10%;}
.letter-list .material-symbols-outlined{position: relative;line-height: 20px;}
.letter-list .material-symbols-outlined::before{content: "";display: block;border-radius: 5px; width: 20px;height: 15px;background: #fbd755; opacity: 0.75; position: absolute;left: 50%;z-index: -1;top: 50%;transform: translate(-50%, -50%);}
.letter-list .material-symbols-outlined.drafts::before{display:none}
.pop-content table{width:100%}
.pop-content table th,
.pop-content table td{padding:5px 0;border-left:1px solid #d9d9d9;border-bottom:1px solid #222;border-left:1px solid #222;vertical-align:middle}
.pop-content table th{font-size: 18px; font-weight: bold;background: #d9d9d9;}
.pop-content .letter-list .empty-data{text-align:center; padding:50px 0;font-weight:bold;font-size:28px;color:#d9d9d9;width:100%;display:block;border:none;border-right:1px solid #222;}

.letter-tab{display: flex;}
.letter-tab li{width: 33.3333%;}
.letter-tab li a{padding: 15px 0;display: block;border:1px solid #222;font-weight:bold;}
.letter-tab li a.on {background:#1985ff;color:#fff}


.js-tab-content {display: none;}
.js-tab-content.on {display: block;}

/* 쪽지 view */
.letter-form{text-align: center; border:1px solid #222; padding:5px 15px 15px;}
.letter-form table, .letter-form table th, .letter-form table td{border:none;text-align:left;}
.letter-form table th{background:none;text-align:right;}
.letter-form table th.v-top{vertical-align:top;}
.letter-form table input, .letter-form table textarea, .letter-form table select{width:100%;padding:10px}
.letter-form table input, .letter-form table select{height:40px;}
.letter-form table textarea{height:150px;resize:none;}
.letter-form table label{display:inline-block;padding-right:10px;white-space:nowrap;}
.letter-form table textarea:read-only{height:215px;}
.letter-form table input:read-only, .letter-form table textarea:read-only{background: #d9d9d9;border:1px solid #ccc;}
.letter-form a{text-align:center;padding:10px 35px;display:inline-block;background:#1985ff;border:none;border-radius:5px;color:#fff;font-size:18px;cursor:pointer}

.list-detail{position: absolute; opacity: 0; top: 5px; margin-top:40px; left: 0;width: 100%;max-height: 200px;height: 0; overflow-x:hidden;overflow-y:auto; border:none; background: #fff;z-index: 2;transition: 0.25s ease;}
.list-detail.on{opacity: 1;height: auto;border:1px solid #222;}
.list-detail li{padding:5px;}
.list-detail li:hover{background:#60abff; color:#fff;}

/* 페이저 */
.page-nation li{list-style: none;}
.page-wrap{text-align: center;font-size: 0;}
.page-nation {display: flex;justify-content: center;align-items: center;margin-top: 20px;}
.page-nation a{display: block;margin: 0 3px;flex: left;border: 1px solid #e6e6e6;width: 28px;height: 28px;line-height: 28px;text-align: center;background-color: #fff;font-size: 13px;color: black;text-decoration: none;}
.page-nation a.active{background-color: #0078ff;color: #fff;}
.page-nation a:hover{background-color: #0078ff;color: #fff;}

.btn-box{text-align:right;}
.btn-box a{display:inline-block; padding:10px 25px;background: #1985ff; color:#fff;font-size:18px;border-radius:5px;margin-top:15px;}

.side-btn {padding:0;background:none;height:35px; border:none; cursor:pointer}
.side-btn .material-symbols-outlined{font-size:50px;line-height:35px; height:35px; }



