@charset "UTF-8";

.hide{display: hidden;}
.por{position: relative;}

.pt5{padding-top: 5px;}
.pt10{padding-top: 10px;}
.pt15{padding-top: 15px;}
.pt30{padding-top: 30px;}
.pt50{padding-top: 50px;}

.pb5{padding-bottom: 5px;}
.pb10{padding-bottom: 10px;}
.pb15{padding-bottom: 15px;}
.pb30{padding-bottom: 30px;}
.pb50{padding-bottom: 50px;}

.pl5{padding-left: 5px;}
.pl10{padding-left: 10px;}
.pl15{padding-left: 15px;}
.pl30{padding-left: 30px;}
.pl50{padding-left: 50px;}

.pr5{padding-right: 5px;}
.pr10{padding-right: 10px;}
.pr15{padding-right: 15px;}
.pr30{padding-right: 30px;}
.pr50{padding-right: 50px;}

.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt30{margin-top: 30px;}
.mt50{margin-top: 50px;}

.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb30{margin-bottom: 30px;}
.mb50{margin-bottom: 50px;}

.ml5{margin-left: 5px;}
.ml10{margin-left: 10px;}
.ml15{margin-left: 15px;}
.ml30{margin-left: 30px;}
.ml50{margin-left: 50px;}

.mr5{margin-right: 5px;}
.mr10{margin-right: 10px;}
.mr15{margin-right: 15px;}
.mr30{margin-right: 30px;}
.mr50{margin-right: 50px;}

.d_f{display: flex;}

*{box-sizing: border-box;}
img{display: block;width:100%;}

.header{ width: 100%; justify-content: space-between; align-items: center;height: 75px;padding:15px;border-bottom:1px solid #000}
.profile{width: 50px; height: 50px;border-radius: 50%;overflow: hidden; justify-content: space-between; align-items: center;}

.search-bar{min-width:450px; max-width:850px; width:100%; border:5px solid #000;border-radius:15px;height:100%}
.search-bar input{width: 98%;height: 100%;border:none;margin:0 auto;outline: none;display: block;font-size: 20px;}

.left-div {gap:10px;align-items: center;}
.left-div button{background: none;border: 1px solid #000;padding: 5px 15px;height: auto;}

.icon {position: relative;}
.icon span{position: absolute;top: -5px; right:-5px;display: inline-block;background: #f00;color:#fff;width: 20px;height: 20px;text-align: center;line-height: 10px;padding:5px;border-radius: 50%;font-size:14px}
.icon .fa-envelope{font-size:36px;}

.wrap{width:1200px; position:relative;margin:0 auto}