@charset "UTF-8";

.wrap{width:100%;}
.inner{width:1200px;overflow: hidden;margin:0 auto}

.main-slide {height: 600px;margin-bottom:50px}
.main-slide .img-box{height:600px;width:100%;overflow: hidden}

.list-top{border-bottom: 1px solid #222;display:flex; justify-content: space-between; align-items: center}
.list-top h3{font-size:24px;font-weight: bold;padding-bottom: 10px;margin-bottom:10px}
.list-top .d_f{justify-content: space-between;}

/* 이벤트 캘린더 */
.event-calendar {gap:15px}
.event-calendar .left-con{width: 35%;height: 415px;padding:5px; border: 1px solid #222;}
.event-calendar .right-con{padding:0;width:65%;border:1px solid #707070;border-radius:10px;overflow: hidden;}
.event-calendar .right-con h3{border-bottom:1px solid d9d9d9; padding:15px 30px; font-size: 24px;font-weight: bold;background-color:var(--point-color);margin-bottom:10px;}
.event-calendar .right-con li{border-bottom: 1px solid #222;padding:10px 0; margin:0 30px;}
.event-calendar .right-con li a{justify-content: space-between;}
.event-calendar .right-con li p{white-space: nowrap;width: 75%; text-overflow: ellipsis;overflow:hidden;border-right: 1px solid #222;}

.event-calendar .right-con .no-list{padding: 130px 0; text-align:center;border:none}
.event-calendar .right-con .no-list p{width:100%;font-size:32px;color:#ccc;border-right:none;}

.swiper-button-next, .swiper-button-prev{margin-top:5px}
.swiper-slide .card-text{position: relative;min-height:110px;padding:10px 15px;display:flex;flex-direction: column;justify-content: space-between;align-items: flex-start;}
.swiper-slide .icon-box{display:flex; align-items: center; gap:5px;font-size:16px;}
.swiper-slide .icon-box .material-symbols-outlined{font-size:16px;}
.board-card .event-title{display:inline-block;word-break:keep-all}
.board-card .event-date{display:inline-block;font-size:14px;padding-bottom:5px}
.board-card .event-content{display:block;position: absolute;top: 0;left:0;width:100%;height:100%;background:rgba(18, 18, 18, 0.85); ;color:#E0E0E0;padding:15px;font-size:14px;opacity: 0;transition:0.1s linear}
.board-card .event-content h4{border-bottom:1px solid #fff;font-size:18px;font-weight:bold;padding-bottom:5px;margin-bottom:15px;}
.board-card .event-content p{
	line-height:1.5;
	display: -webkit-box;
  	-webkit-box-orient: vertical;
  	overflow: hidden;
  	-webkit-line-clamp: 11;
  	line-clamp: 11; /* 일부 브라우저 지원 */}
.board-card .card-box > a:hover .event-content{opacity: 1;}

/* 캘린더 */
.sec_cal {
    width: 360px;
    margin: 0 auto;
    font-family: "NotoSansR";
}

.sec_cal .cal_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 50px;
}

.sec_cal .cal_nav .year-month {
    width: 300px;
    text-align: center;
    line-height: 1;
}

.sec_cal .cal_nav .nav {
    display: flex;
    border: 1px solid #333333;
    border-radius: 5px;
}

.sec_cal .cal_nav .go-prev,
.sec_cal .cal_nav .go-next {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec_cal .cal_nav .go-prev::before,
.sec_cal .cal_nav .go-next::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border: 3px solid #000;
    border-width: 3px 3px 0 0;
    transition: border 0.1s;
}

.sec_cal .cal_nav .go-prev:hover::before,
.sec_cal .cal_nav .go-next:hover::before {
    border-color: #ed2a61;
}

.sec_cal .cal_nav .go-prev::before {
    transform: rotate(-135deg);
}

.sec_cal .cal_nav .go-next::before {
    transform: rotate(45deg);
}

.sec_cal .cal_wrap {
    padding-top: 10px;
    position: relative;
    margin: 0 auto;
}

.sec_cal .cal_wrap .days {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.sec_cal .cal_wrap::after {
    top: 368px;
}

.sec_cal .cal_wrap .day {
    display:flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 7);
    text-align: left;
    color: #222;
    font-size: 16px;
    text-align: center;
    border-radius:50%;
}

.current.today {background-color: var(--point-color2);}

.sec_cal .cal_wrap .dates {
    display: flex;
    flex-flow: wrap;
    height: 290px;
}

.sec_cal .cal_wrap .day:nth-child(7n) {
    color: #3c6ffa;
}

.sec_cal .cal_wrap .day:nth-child(7n - 6) {
    color: #ed2a61;
}

.sec_cal .cal_wrap .day.disable {
    color: #ddd;
}