@charset "UTF-8";

h3{font-size:42px;font-weight:bold;text-align:center;padding:30px 0 40px;}
.wrap{padding-bottom:100px}

.main-tab {display:flex;width:100%;}
.main-tab li {width:50%;}
.main-tab li > a{width:100%;padding:20px 40px;display: inline-block;font-size: 24px;font-weight: bold;border:1px solid #ccc;text-align:center;}
.main-tab li > a.on{background:var(--point-color2);color:var(--font-color);}

.sub-tab {display:flex;width:100%;margin-top:30px}
.sub-tab li {width:33.3333%;}
.sub-tab li > a{width:100%;padding:20px 40px;display: inline-block;font-size: 24px;font-weight: bold;border:1px solid #ccc;text-align:center;}
.sub-tab li > a.on{background:var(--point-color2);color:var(--font-color);}

.tab-content{display:none;}
.tab-content.on{display:block;}
.sub-tab-content{display:none;}
.sub-tab-content.on{display:block;}

.sub-tab-content li {margin-bottom:15px;}
.sub-tab-content li a,
.sub-tab-content li > div{display:flex;border:1px solid #d9d9d9;padding:15px;width:100%}
.sub-tab-content li a{border:none;}
.tab-content li img{width:150px;height:150px;border:1px solid #d9d9d9;}
.tab-content li dl{margin:0 30px;width: calc(100% - 225px);}
.tab-content li dt{font-size:24px;font-weight:bold;margin-bottom:15px;}
.tab-content li dd{font-size:18px;margin-bottom:10px;}
.tab-content li .like-box{width:75px;display:flex;justify-content: center;align-items: center;color:#f00;}
.tab-content li .like-box input[type="checkbox"]{width:0;height:0;position: absolute;left:-9999px}
.tab-content li .like-box input[type="checkbox"] + label{color:#f00;font-size:36px !important;}
.tab-content li .like-box input[type="checkbox"]:checked + label{font-size:24px;color:#f00;font-variation-settings:'FILL' 1,'wght' 100,'GRAD' 0,'opsz' 32;}
.myreview > li {display:flex;border:1px solid #d9d9d9;padding:15px;}

.empty-data{width: 100%; border:1px solid #d9d9d9 !important; text-align:center;padding:100px 0 !important;font-size:32px !important;font-weight:bold;color:#d9d9d9;}
