@charset "UTF-8";

.review {
	text-align: center;
	padding: 50px 0 50px;
	background:var(--point-color);
	height:100%;
	min-height:100vh;
}

h1 {
	font-size: 24px;
	margin-bottom: 30px;
}

form {
	max-width: 1000px;
	margin: 0 auto;
	text-align: left;
	border:1px solid var(--font-color);
	padding:30px;
	border-radius:10px;
	background:var(--inner-color);
}

label {
	display: block;
}

input[type="text"], select, textarea, input[type="file"] {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid var(--font-color);
	border-radius: 4px;
	height:50px;
}

textarea {
	height: 200px;
	resize: none;
}

button {
	display: block;
	width: 100%;
	padding: 15px;
	background-color: #feda3e;
	color: black;
	font-size: 18px;
	font-weight: bold;
	border: 1px solid var(--font-color);
	border-radius: 6px;
	cursor: pointer;
}

button:hover {
	background-color: #cbae31;
}

#preview{
	display:none;
	width: 100px;
	height: auto;
	border: 1px solid #ccc;
}

/* 로딩중 */

.saving-overlay {position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.4);display: none;justify-content: center;align-items: center;z-index: 9999;}
.saving-overlay.save {display:flex;}
.saving-box {background: white;padding: 30px 50px;border-radius: 10px;box-shadow: 0 4px 10px rgba(0,0,0,0.2);display: flex;flex-direction: column;align-items: center;}
.spinner {border: 6px solid #f3f3f3;border-top: 6px solid #3498db;border-radius: 50%;width: 40px;height: 40px;animation: spin 1s linear infinite;margin-bottom: 15px;}
.saving-text {font-size: 18px;font-weight: bold;color: #333;}

h3{font-size: 36px;font-weight: bold;text-align: center;padding: 30px 0 50px;color:var(--font-color)}
.right-nav{display:none}
.wrap{width:100%;min-height:100vh; height:100%}
.header{display:none;}
body{min-height:100vh; height:100%}

form table{width:100%;}
form table th{width: 150px;font-weight: bold;font-size: 24px;color: var(--font-color);text-align: left;vertical-align: middle}
form table th,form table td{padding:10px 0}
#store-loc{border:1px solid var(--font-color);border-radius:5px; }
.panel-body-btns{display:flex;flex-wrap:wrap;gap:15px;}
.panel-body-btns button{width:calc(33.3333% - 10px);}
.panel-body-btns button:nth-child(n + 4){width:calc(50% - 8px)}
.v-t{vertical-align:top !important;}
.v-t label{margin-top:10px;}

.back-btn{position: fixed;top:0;left:0;width:75px;height:75px;background:none;color:var(--font-color);border:none;display:flex;justify-content: center;align-items: center}
.back-btn span{font-size:36px;}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg);}
}