@charset "UTF-8";

.store {
	font-family: sans-serif;
	text-align: center;
	padding: 30px;
}

h1 {
	font-size: 26px;
	margin-bottom: 30px;
}

form {
	max-width: 700px;
	margin: 0 auto;
	text-align: left;
}

label {
	display: block;
	margin-top: 15px;
	margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
select {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	background-color: #ddd;
	border: none;
	border-radius: 4px;
}

select {
	width: auto;
	padding: 8px 12px;
	margin-top: 5px;
}

.checkbox-group {
	display: flex;
	gap: 15px;
	margin-top: 10px;
	flex-wrap: wrap;
}

.menu-table {
	width: 100%;
	margin-top: 15px;
	background-color: #ddd;
	border-collapse: collapse;
}

.menu-table th,
.menu-table td {
	padding: 10px;
	text-align: left;
}

.menu-table input[type="text"],
.menu-table input[type="checkbox"] {
	width: auto;
}

.file-upload {
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.file-upload button {
	background-color: #ddd;
	padding: 6px 12px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-right: 10px;
}

.btn-sec {
	display: block;
	width: 100%;
	padding: 15px;
	margin-top: 30px;
	background-color: #4db8ff;
	color: black;
	font-size: 18px;
	font-weight: bold;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}

.btn-sec:hover {
	background-color: #33a6ee;
}

textarea {
	width: 100%; padding : 10px; box-sizing : border-box; background-color :
	#ddd; border : none; border-radius : 4px;
	height: 100px;
	resize: none;
	padding: 10px;
	box-sizing: border-box;
	background-color: #ddd;
	border: none;
	border-radius: 4px;
}

#preview{
	display:none;
	width: 100px;
	height: auto;
	margin-left: 10px;
	border: 1px solid #ccc;
}

/* 로딩중 */

.saving-overlay {position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.4);display: none;justify-content: center;align-items: center;z-index: 9999;}
.saving-overlay.save {display:flex;}
.saving-box {background: white;padding: 30px 50px;border-radius: 10px;box-shadow: 0 4px 10px rgba(0,0,0,0.2);display: flex;flex-direction: column;align-items: center;}
.spinner {border: 6px solid #f3f3f3;border-top: 6px solid #3498db;border-radius: 50%;width: 40px;height: 40px;animation: spin 1s linear infinite;margin-bottom: 15px;}
.saving-text {font-size: 18px;font-weight: bold;color: #333;}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg);}
}