@charset "UTF-8";

.storeListModal {
	font-family: sans-serif;
	background-color: #f4f4f4;
}

.store-card {
	width: 300px;
	margin: 20px auto;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	overflow: auto;
}

.store-card img {
	width: 100%;
	height: auto;
	display: block;
}

.store-description {
	padding: 15px;
	background-color: #e1e1e1;
}

.store-name {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 10px;
}

.store-content {
	color: #555;
	font-size: 0.95em;
	line-height: 1.4em;
}

/*모달*/

#modal{
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 640px;
}
.store-image {
	border-radius: 8px;
}

.store-info {
	margin-top: 20px;
}

.store-info h3 {
	margin-bottom: 10px;
	font-size: 1.2em;
}

.info-text {
	margin: 5px 0;
	color: #333;
}