@charset "UTF-8";

h3{font-size: 36px;font-weight: bold;text-align: center;padding: 30px 0 50px;color:var(--font-color)}
.right-nav{display:none}
.wrap{width:100%;min-height:100vh; height:100%}
.header{display:none;}
body{min-height:100vh; height:100%}
.store {
	text-align: center;
	padding: 50px 0 100px;
	background:var(--point-color);
	height:100%;
	min-height:100vh;
}

form {
	max-width: 1000px;
	margin: 0 auto;
	text-align: left;
	border:1px solid var(--font-color);
	padding:30px;
	border-radius:10px;
	background:var(--inner-color);
}
form table{width:100%;}
form table th{width: 150px;font-weight: bold;font-size: 24px;color: var(--font-color);text-align: left;vertical-align: middle}
form table th,form table td{padding:10px 0}
#store-loc{border:1px solid var(--font-color);border-radius:5px; }
.panel-body-btns{display:flex;flex-wrap:wrap;gap:15px;margin-top:30px;}
.panel-body-btns button{width:calc(33.3333% - 10px);}
.panel-body-btns button:nth-child(n + 4){width:calc(50% - 8px)}
.v-t{vertical-align:top !important;}
.v-t label{margin-top:10px;}
label {
	display: block;
}

input[type="text"],
input[type="email"],
input[type="date"],
select {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 4px;
	height:50px;
	border: 1px solid var(--font-color);
}

input[type="text"][readonly] {
	background-color: #bbb;
	color: #555;
	border: 1px solid #999;
	font-weight: bold;
}

select {
	width: auto;
	padding: 8px 12px;
	margin-top: 5px;
}

.checkbox-group {
	display: flex;
	gap: 15px;
	margin-top: 10px;
	flex-wrap: wrap;
}

.menu-table {
	width: 100%;
	margin-top: 15px;
	background-color: #ddd;
	border-collapse: collapse;
}

.menu-table th,
.menu-table td {
	padding: 10px;
	text-align: left;
}

.menu-table input[type="text"],
.menu-table input[type="checkbox"] {
	width: auto;
}

.file-upload {
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.file-upload button {
	background-color: #ddd;
	padding: 6px 12px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-right: 10px;
}

.btn-sec {
	display: block;
	width: 100%;
	padding: 15px;
	background-color: #feda3e;
	color: black;
	font-size: 18px;
	font-weight: bold;
	border: 1px solid var(--font-color);
	border-radius: 6px;
	cursor: pointer;
}

.btn-sec:hover {
	background-color: #cbae31;
}
#removeBtn:hover{
	background-color: #DC143C;
	color:#fff;
}

textarea {
	margin-top:10px;
	width: 100%; 
	height: 150px;
	resize: none;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid var(--font-color);
	border-radius: 4px;
	
}

#preview{
	width: auto;
	border: 1px solid #ccc;
	border:1px solid var(--font-color);
	display:inline-block;
	overflow: hidden;
	position: relative;
}
#preview label{display:flex;align-items: center;justify-content: center;height: 100%;}
#preview label img{height: 100%;width: auto;max-height: 250px}
#preview label:before{content:"변경"; display:none; background: rgba(0,0,0,0.6);color:#fff;line-height: 250px;text-align: center;position: absolute;top: 0;left: 0;width:100%;height: 100%;font-size:28px;font-weight:bold;}
#preview label:hover:before{display:block;}
#simage{position:absolute;left: -9999px;overflow: hidden;height: 0;}


/* 로딩중 */

.saving-overlay {position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.4);display: none;justify-content: center;align-items: center;z-index: 9999;}
.saving-overlay.save {display:flex;}
.saving-box {background: white;padding: 30px 50px;border-radius: 10px;box-shadow: 0 4px 10px rgba(0,0,0,0.2);display: flex;flex-direction: column;align-items: center;}
.spinner {border: 6px solid #f3f3f3;border-top: 6px solid #3498db;border-radius: 50%;width: 40px;height: 40px;animation: spin 1s linear infinite;margin-bottom: 15px;}
.saving-text {font-size: 18px;font-weight: bold;color: #333;}

.back-btn{position: fixed;top:0;left:0;width:75px;height:75px;background:none;color:var(--font-color);border:none;display:flex;justify-content: center;align-items: center}
.back-btn span{font-size:36px;}

.store-state{text-align: center;margin-bottom:20px;}
.store-state span{padding:5px 15px;border-radius:5px;background:#E74C3C;color:#fff;display: inline-block;font-size:24px;box-shadow: inset 1px 1px 2px rgba(255,255,255,0.9), 0px 5px 10px rgba(0,0,0,0.2)}
.store-state.open span{background:#2ECC71;color:#fff;}

#panto-current{background:var(--point-color3);color:var(--font-color);padding:5px 15px;border-radius:5px;font-weight:bold;margin-top:10px;border: 1px solid var(--font-color);}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg);}
}