<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.storemap.mapper.AttachMapper">

	<insert id="insert" parameterType="org.storemap.domain.AttachFileVO">
		INSERT INTO attach_file (
            attach_idx,
            filename,
            uuid
        ) VALUES (
            attach_seq.nextval,
            #{filename},
            #{uuid}
        )
	</insert>
	<!-- 2. 파일 수정 -->
	<update id="update" parameterType="org.storemap.domain.AttachFileVO">
		update attach_file set 
			fileName = #{fileName},
			uuid = #{uuid}
			where attach_idx = #{attach_idx}
	</update>
	<!-- 3. 파일 삭제 -->
	<delete id="delete" parameterType="int">
		delete from attach_file where attach_idx = #{attach_idx}
	</delete>
	<!-- 4. 파일 목록 -->
	<select id="findByIdx" parameterType="int" resultType="org.storemap.domain.AttachFileVO">
		select * from attach_file where attach_idx = #{attach_idx}
	</select>
	
</mapper>