<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.storemap.mapper.EnterMapper">
	<!-- 로그인 -->
	<select id="eLogin" resultType="org.storemap.domain.EnterVO">
		SELECT * FROM enter
		WHERE ENTER_ID = #{enter_id} 
		AND ENTER_PW = #{enter_pw}
	</select>
	<!-- 회원가입 시 member id 체크 -->
	<select id="checkId" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM ENTER WHERE ENTER_ID = #{member_id}
	</select>
	<!-- 회원가입 정보 등록 -->
	<insert id="insertEnter" parameterType="org.storemap.domain.EnterVO">
		INSERT INTO enter (
			ENTER_IDX,
			ENTER_IMAGE,
			ENTER_ID,
			ENTER_PW,
			ENTER_NAME,
			ENTER_RNUM,
			ENTER_LOC,
			ENTER_NUM
		) VALUES (
			enter_seq.NEXTVAL,
			#{enter_image, jdbcType = VARCHAR},
			#{enter_id},
			#{enter_pw},
			#{enter_name},
			#{enter_rnum},
			#{enter_loc},
			#{enter_num}
		)	
	</insert>
	
	<!-- 회원정보 수정 -->
	<update id="modifyEnter" parameterType="org.storemap.domain.EnterVO">
		UPDATE  
			ENTER
		SET 
			ENTER_IMAGE = #{enter_image, jdbcType = VARCHAR},
			ENTER_PW = #{enter_pw}
		WHERE
			ENTER_IDX = #{enter_idx}
	</update>
	
	<select id="read" parameterType="int" resultType="org.storemap.domain.EnterVO">
		select * from enter where enter_idx = #{enter_idx}
	</select>
	
	<!-- 회원 삭제 -->
	<delete id="delete" parameterType="int">
		delete from enter where enter_idx = #{enter_idx}
	</delete>
	
	<!-- 권한 수락 -->
	<update id="acceptPermission" parameterType="int">
		update enter set
			enter_auth = 1
		where enter_idx = #{enter_idx}
	</update>
	
	<!-- ENTER와 ENTER_REQUEST를 하나의 트랜잭션에서 처리 -->
	<insert id="insertEnterWithRequest" parameterType="org.storemap.domain.EnterVO">
	    <selectKey keyProperty="enter_idx" resultType="int" order="BEFORE">
	        SELECT enter_seq.NEXTVAL FROM DUAL
	    </selectKey>
	    
	    <!-- 1. ENTER 테이블 등록 -->
	    INSERT ALL
	        INTO enter (
	            ENTER_IDX,
	            ENTER_IMAGE,
	            ENTER_ID,
	            ENTER_PW,
	            ENTER_NAME,
	            ENTER_RNUM,
	            ENTER_LOC,
	            ENTER_NUM
	        ) VALUES (
	            #{enter_idx},
	            #{enter_image, jdbcType = VARCHAR},
	            #{enter_id},
	            #{enter_pw},
	            #{enter_name},
	            #{enter_rnum},
	            #{enter_loc},
	            #{enter_num}
	        )
	        
	        <!-- 2. ENTER_REQUEST 테이블 등록 -->
	        INTO enter_request (
	            enter_idx,
	            pon
	        ) VALUES (
	            #{enter_idx},
	            0
	        )
	    SELECT 1 FROM DUAL
	</insert>
	
</mapper>
