<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.storemap.mapper.EnterRequestMapper">
	<resultMap id="disReqListMap" type="org.storemap.domain.EnterRequestVO">
		<result property="enter_idx" column="enter_idx"/>
		<result property="pon" column="pon"/>
		<result property="regdate" column="regdate"/>
		<association property="enter" resultMap="enterMap"/>
	</resultMap>
	<resultMap id="enterMap" type="org.storemap.domain.EnterVO">
		<id property="enter_idx" column="enter_idx"/>
		<result property="enter_id" column="enter_id"/>
		<result property="enter_pw" column="enter_pw"/>
		<result property="enter_name" column="enter_name"/>
		<result property="enter_rnum" column="enter_rnum"/>
		<result property="enter_loc" column="enter_loc"/>
		<result property="enter_num" column="enter_num"/>
	</resultMap>
	
	<!-- 1.기업 등록 요청 등록  -->
	<insert id="insert" parameterType="int">
		insert into enter_request (
			enter_idx
		)
		values(
	 		#{enter_idx}
	 	)
	</insert>
	<!-- 2.기업 등록 요청 수락 -->
	<update id="update" parameterType="int">
		update enter_request set
		pon = 1
		where enter_idx = #{enter_idx}
	</update>
	<!-- 3.기업 등록 요청 삭제  -->
	<delete id="delete" parameterType="int">
		delete from enter_request where enter_idx = #{enter_idx}
	</delete>
	<!-- 4.기업 등록 요청 목록 -->
	<select id="getDisReqListMap" resultMap="disReqListMap">
		SELECT r.*, e.enter_idx, e.enter_id, e.enter_pw, e.enter_name, e.enter_rnum, e.enter_loc, e.enter_num 
		FROM enter e
		JOIN enter_request r ON r.enter_idx = e.enter_idx
		WHERE r.pon = 0
		ORDER BY r.regdate DESC
	</select>
	
</mapper>