<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.storemap.mapper.EventRequestMapper">
	<insert id="eventRequest" parameterType="map">
		insert into event_request (		
			eday_idx,
			pon,
			store_idx
		) values (
			#{eday_idx},
			0,
			#{store_idx}
		)
	</insert>
	
	<delete id="cancelEntry" parameterType="map">
		 DELETE FROM event_request
		 WHERE eday_idx = #{edayIdx}
		 AND store_idx = #{storeIdx}
	</delete>
	
	<select id="getEventIdxByEdayIdx" resultType="int">
	    SELECT event_idx
	    FROM event_day
	    WHERE eday_idx = #{edayIdx}
	</select>
	
	<select id="selectAppliedEdayIdxList" resultType="int">
        SELECT eday_idx
        FROM event_request
        WHERE store_idx = #{store_idx}
    </select>
		
	<select id="getEdayRequest" parameterType="int" resultType="org.storemap.domain.EventRequestVO">
		SELECT * FROM EVENT_REQUEST WHERE EDAY_IDX = #{eday_idx} AND PON = 0 ORDER BY REGDATE
    </select>
    
	<select id="getEdayRequestAttend" parameterType="int" resultType="org.storemap.domain.EventRequestVO">
		SELECT * FROM EVENT_REQUEST WHERE EDAY_IDX = #{eday_idx} AND PON = 1 ORDER BY REGDATE
    </select>
    
    <update id="updateRequest" parameterType="map">
    	UPDATE EVENT_REQUEST SET PON = 1 WHERE STORE_IDX = #{store_idx} AND EDAY_IDX = #{eday_idx} 
    </update>
	
	  <resultMap id="EventRequestMap" type="org.storemap.domain.EventRequestVO">
	    <id property="eday_idx" column="eday_idx"/>
	    <result property="pon" column="pon"/>
	    <result property="store_idx" column="store_idx"/>
	    <result property="regdate" column="regdate"/>
	    
	    <association property="join_store" javaType="org.storemap.domain.StoreVO">
	      <result property="store_name" column="store_name"/>
	      <result property="store_content" column="store_content"/>
	    </association>
	  </resultMap>

	  <select id="getRequestsByEdayIdx" resultMap="EventRequestMap">
	    SELECT er.eday_idx, er.pon, er.store_idx, er.regdate,
	           s.store_name, s.store_content
	    FROM event_request er
	    JOIN store s ON er.store_idx = s.store_idx
	    WHERE er.eday_idx = #{eday_idx}
	  </select>
	
</mapper>
