<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.storemap.mapper.EventMapper">
	<!-- 메인페이지 랜덤 -->
	<select id="getLiveEvent" resultType="org.storemap.domain.EventVO">
		<![CDATA[
			SELECT * FROM (
			    SELECT * FROM EVENT 
			    WHERE EVENT_BSTOPDATE >= SYSDATE AND EVENT_BSTARTDATE <= SYSDATE
			    ORDER BY DBMS_RANDOM.RANDOM
			)
			WHERE ROWNUM <= 10
		]]>
	</select>
	
	<select id="getSoonEvent" resultType="org.storemap.domain.EventVO">
		<![CDATA[
			SELECT * FROM (
			    SELECT * FROM EVENT 
			    WHERE EVENT_BSTARTDATE > SYSDATE
			    ORDER BY DBMS_RANDOM.RANDOM
			)
			WHERE ROWNUM <= 10
		]]>
	</select>
	
	<!-- 메인페이지 종료 순 -->
	<select id="getListEndDate" parameterType="String" resultType="org.storemap.domain.EventVO">
		<![CDATA[
			SELECT * FROM (
			    SELECT * 
				FROM EVENT 
				WHERE 
					TO_CHAR(EVENT_BSTARTDATE,'YYYYMMDD') <= #{searchDate} AND
				    TO_CHAR(EVENT_BSTOPDATE,'YYYYMMDD') >= #{searchDate}
				ORDER BY EVENT_BSTOPDATE
			)
			WHERE ROWNUM <= 8
		]]>
	</select>

	<!-- 이벤트 상세보기 -->
	<select id="getEventOneView" resultType="org.storemap.domain.EventVO" parameterType="int">
		SELECT * FROM EVENT WHERE EVENT_IDX = #{EVENT_IDX}
	</select>
	
	<!-- 리스트 총 갯수 -->
	<select id="getListCount" resultType="int">
		SELECT COUNT(*) FROM EVENT 
	</select>
	
	<!-- GET IDX -->
	<select id="getIdx" parameterType="int" resultType="int">
		SELECT EVENT_IDX FROM EVENT WHERE ENTER_IDX = #{enter_idx}
	</select>
	
	
	<!-- 리스트 출력 -->
	<select id="getList" resultType="org.storemap.domain.EventVO">
		<![CDATA[ 
			SELECT * FROM (
			    SELECT
			    	EVENT_IDX, 
			    	ENTER_IDX,
			    	EVENT_TITLE, 
			    	EVENT_RSTARTDATE, 
			    	EVENT_RSTOPDATE,
			    	EVENT_BSTARTDATE,
			    	EVENT_BSTOPDATE, 
			    	ROWNUM RN FROM (
						SELECT 
							EVENT_IDX, 
							ENTER_IDX, 
							EVENT_TITLE, 
							EVENT_RSTARTDATE, 
							EVENT_RSTOPDATE,
							EVENT_BSTARTDATE,
							EVENT_BSTOPDATE
	 				FROM EVENT
		   			ORDER BY EVENT_IDX DESC)
				WHERE ROWNUM <= #{pageNum} * #{amount})
			WHERE RN > (#{pageNum} - 1) * #{amount}
		]]> 
	</select>
	<select id="getFilterList" resultType="org.storemap.domain.EventVO">
		<![CDATA[ 
			SELECT * FROM (
			    SELECT
			    	EVENT_IDX, 
			    	ENTER_IDX,
			    	EVENT_TITLE, 
			    	EVENT_RSTARTDATE, 
			    	EVENT_RSTOPDATE,
			    	EVENT_BSTARTDATE,
			    	EVENT_BSTOPDATE, 
			    	ROWNUM RN FROM (
						SELECT 
							EVENT_IDX, 
							ENTER_IDX, 
							EVENT_TITLE, 
							EVENT_RSTARTDATE, 
							EVENT_RSTOPDATE,
							EVENT_BSTARTDATE,
							EVENT_BSTOPDATE
	 				FROM EVENT
		   			ORDER BY ${eventFilter.sort_type} ASC)
				WHERE ROWNUM <= #{criteria.pageNum} * #{criteria.amount})
			WHERE RN > (#{criteria.pageNum} - 1) * #{criteria.amount}
		]]> 
	</select>
	
	<select id="endMaxCount" parameterType="int" resultType="int">
		SELECT SUM(STORE_MAX) 
		FROM EVENT_DAY 
		WHERE EVENT_IDX = #{event_idx}
	</select>
	
	
</mapper>
