<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.storemap.mapper.EventRequestMapper">
	<insert id="eventRequest" parameterType="int">
		insert into event_request (		
			eday_idx,
			pon,
			store_idx
		) values (
			#{eday_idx},
			0,
			#{store_idx}
		)
	</insert>
	
	<delete id="cancelEntry" parameterType="map">
		 DELETE FROM event_request
		 WHERE eday_idx = #{edayIdx}
		 AND store_idx = #{storeIdx}
	</delete>
	
	<select id="getEventIdxByEdayIdx" resultType="int">
	    SELECT event_idx
	    FROM event_day
	    WHERE eday_idx = #{edayIdx}
	</select>
	
	<select id="selectAppliedEdayIdxList" resultType="int">
        SELECT eday_idx
        FROM event_request
        WHERE store_idx = #{store_idx}
    </select>
</mapper>
