<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.storemap.mapper.EventMapper">
	<!-- 메인페이지 랜덤 -->
	<select id="getRanList" resultType="org.storemap.domain.EventVO">
		<![CDATA[
			SELECT * FROM (
			    SELECT * FROM EVENT 
			    ORDER BY dbms_random.random
			)
			WHERE ROWNUM <= 15
		]]>
	</select>
	<!-- 메인페이지 종료 순 -->
	<select id="getListEndDate" parameterType="String" resultType="org.storemap.domain.EventVO">
		<![CDATA[
			SELECT * FROM (
			    SELECT * 
				FROM EVENT 
				WHERE 
					TO_CHAR(EVENT_BSTARTDATE,'YYYYMMDD') <= #{searchDate} AND
				    TO_CHAR(EVENT_BSTOPDATE,'YYYYMMDD') >= #{searchDate}
				ORDER BY EVENT_BSTOPDATE
			)
			WHERE ROWNUM <= 8
		]]>
	</select>
<!--  <insert id="insert" parameterType="EventVO">
    INSERT INTO event (
        EVENT_IDX,
        STORE_IDX,
        ENTER_IDX,
        EVENT_TITLE,
        EVENT_CATEGORY,
        EVENT_LOCATION,
        EVENT_LOCATION_DETAIL,
        EVENT_CONTENT,
        EVENT_LIKE_CNT,
        EVENT_RSTARTDATE,
        EVENT_RSTOPDATE,
        EVENT_BSTARTDATE,
        EVENT_BSTOPDATE,
        EVENT_HIDDEN,
        EVENT_FILE,
        EVENT_LIST_MAX
    ) VALUES (
        event_seq.NEXTVAL,
        #{store_idx},
        #{enter_idx},
        #{event_title},
        #{event_category},
        #{event_location},
        #{event_location_detail},
        #{event_content},
        #{event_like_cnt},
        #{event_rstartdate},
        #{event_rstopdate},
        #{event_bstartdate},
        #{event_bstopdate},
        #{event_hidden},
        #{event_file},
        #{event_list_max}
    )
</insert>-->
</mapper>
