<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.storemap.mapper.EventDeclarationMapper">
	<resultMap id="eventDeclarationMap" type="org.storemap.domain.EventDeclarationVO">
		<result property="event_idx" column="event_idx"/>
		<result property="member_idx" column="member_idx"/>
		<result property="declaration_category" column="declaration_category"/>
		<result property="declaration_content" column="declaration_content"/>
		<result property="regdate" column="regdate"/>
		<result property="declaration_count" column="declaration_count"/>
		<association property="event" resultMap="eventMap"/>
		<association property="member" resultMap="memberMap"/>
		<association property="attach" resultMap="attachMap"/>
	</resultMap>
	<resultMap id="eventMap" type="org.storemap.domain.EventVO">
		<id property="event_idx" column="event_idx"/>
		<result property="enter_idx" column="enter_idx"/>
		<result property="event_title" column="event_title"/>
		<result property="event_category" column="event_category"/>
		<result property="event_postcode" column="event_postcode"/>
		<result property="event_location_detail" column="event_location_detail"/>
		<result property="event_content" column="event_content"/>
		<result property="event_like_cnt" column="event_like_cnt"/>
		<result property="event_rstartdate" column="event_rstartdate"/>
		<result property="event_rstopdate" column="event_rstopdate"/>
		<result property="event_bstatdate" column="event_bstatdate"/>
		<result property="event_bstopdate" column="event_bstopdate"/>
		<result property="event_hidden" column="event_hidden"/>
		<result property="event_file" column="event_file"/>
		<result property="event_location" column="event_location"/>
	</resultMap>
	<resultMap id="memberMap" type="org.storemap.domain.MemberVO">
		<id property="member_idx" column="member_idx"/>
		<result property="member_name" column="member_name"/>
	</resultMap>
	<resultMap id="attachMap" type="org.storemap.domain.AttachFileVO">
		<id property="attach_idx" column="attach_idx"/>
		<result property="filename" column="filename"/>
		<result property="uuid" column="uuid"/>
	</resultMap>

	<!-- 1.이벤트 신고 등록 -->
	<insert id="insertReport" parameterType="org.storemap.domain.EventDeclarationVO">
    INSERT INTO event_declaration (
        event_idx,
        member_idx,
        declaration_category,
        declaration_content
    )
    VALUES (
        #{event_idx},
        #{member_idx},
        #{declaration_category},
        #{declaration_content}
    )
	</insert>
	<!-- 2.이벤트 신고 삭제  -->
	
	<!-- 3.이벤트 신고 전체 삭제 -->
	
	<!-- 4.이벤트 신고 목록 -->
	
	<!-- 5.이벤트 신고 디테일 목록 -->
	
	
</mapper>
