<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.storemap.mapper.EventLikeMapper">
	<select id="getLikeList" parameterType="int" resultType="org.storemap.domain.EventVO">
		SELECT 
		    E.EVENT_IDX, 
		    E.EVENT_TITLE,
		    E.EVENT_CONTENT,
		    E.EVENT_BSTARTDATE,
		    E.EVENT_BSTOPDATE,
		    E.EVENT_FILE
		FROM EVENT E
		LEFT JOIN (
		    SELECT MEMBER_IDX, EVENT_IDX
		    FROM EVENT_LIKE
		) ED  
		ON E.EVENT_IDX = ED.EVENT_IDX
		WHERE MEMBER_IDX = #{member_idx}
	</select>
</mapper>
