<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.storemap.mapper.EventDayMapper">
	<insert id="insertEventday" parameterType="org.storemap.domain.EventDayVO">
	    INSERT INTO event_day (
	        eday_idx,
	        event_idx,
	        store_max,
	        event_starttime,
	        event_stoptime
	    )
	    VALUES (
	        eday_seq.nextVal,
	        #{event_idx},
	        #{store_max},
	        TO_DATE(#{event_starttime}, 'HH24:MI'),
	        TO_DATE(#{event_stoptime}, 'HH24:MI')
	    )
	</insert>
</mapper>
