<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.storemap.mapper.LetterMapper">

	<!-- 송/수신 리스트 -->
	<select id="getLetterList"
		resultType="org.storemap.domain.LetterVO">
		<choose>
			<when test="letterType == 'received'">
				SELECT * FROM LETTER
				WHERE LETTER_RECEIVER = #{loginUser}
			</when>
			<otherwise>
				SELECT * FROM LETTER
				WHERE LETTER_WRITER = #{loginUser}
			</otherwise>
		</choose>
	</select>
	
	<!-- 쪽지 정보 -->
	<select id="getLetterView" parameterType="int" resultType="org.storemap.domain.LetterVO">
		SELECT * FROM LETTER
		WHERE LETTER_IDX = #{letter_idx}
	</select>
	
	<update id="updateRead" parameterType="int">
		UPDATE LETTER 
		SET LETTER_READ = LETTER_READ + 1 
		WHERE LETTER_IDX = #{letter_idx}
	</update>
</mapper>
