<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.storemap.mapper.ReviewMapper">
	
	<!-- 1.리뷰 등록  -->
	<insert id="insert" parameterType="org.storemap.domain.ReviewVO">
		insert into review (
			review_idx,
			store_idx,
			review_writer,
			review_star,
			review_title,
			review_content,
			review_image,
			review_regdate
		)
		values(
	 		review_seq.nextval,
	 		#{store_idx},
	 		#{review_writer},
	 		#{review_star},
	 		#{review_title},
	 		#{review_content},
	 		#{review_image},
	 		sysdate
	 	)
	</insert>
	<!-- 2.리뷰 수정  -->
	<update id="update" parameterType="org.storemap.domain.ReviewVO">
		update review set 
		review_writer = #{review_writer},
	 	review_star = #{review_star},
	 	review_title = #{review_title},
	 	review_content = #{review_content},
	 	review_image = #{review_image},
	 	review_regdate = sysdate
	 	where review_idx = #{review_idx}
	</update>
	<!-- 3.리뷰 삭제  -->
	<delete id="delete" parameterType="int">
		delete from review where review_idx = #{review_idx}
	</delete>
	<!-- 4.리뷰 전체 보기  -->
	<select id="getReviewList" resultType="org.storemap.domain.ReviewVO">
		select * from review where store_idx = #{store_idx}
	</select>
	<!-- 5.리뷰 자세히 보기  -->
	<select id="read" parameterType="int" resultType="org.storemap.domain.ReviewVO">
		select * from review where review_idx = #{review_idx}
	</select>
	
</mapper>
