<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.storemap.mapper.ReviewMapper">
	<resultMap id="reviewMap" type="org.storemap.domain.ReviewVO">
		<id property="review_idx" column="review_idx"/>
		<result property="store_idx" column="store_idx"/>
		<result property="review_writer" column="review_writer"/>
		<result property="review_star" column="review_star"/>
		<result property="review_title" column="review_title"/>
		<result property="review_content" column="review_content"/>
		<result property="review_image" column="review_image"/>
		<result property="review_like_cnt" column="review_like_cnt"/>
		<result property="review_regdate" column="review_regdate"/>
		<result property="review_hidden" column="review_hidden"/>
		<result property="member_idx" column="member_idx"/>
		<result property="review_filename" column="review_filename"/>
		<result property="writer_filename" column="writer_filename"/>
		<result property="member_image" column="member_image"/>
		<association property="attach" resultMap="attachMap"/>
	</resultMap>
	<resultMap id="attachMap" type="org.storemap.domain.AttachFileVO">
		<id property="attach_idx" column="attach_idx"/>
		<result property="filename" column="filename"/>
		<result property="uuid" column="uuid"/>
	</resultMap>
	
	<!-- 1.리뷰 등록  -->
	<insert id="insert" parameterType="org.storemap.domain.ReviewVO">
		insert into review (
			review_idx,
			store_idx,
			review_writer,
			review_star,
			review_title,
			review_content,
			review_image,
			review_regdate,
			member_idx
		)
		values(
	 		review_seq.nextval,
	 		#{store_idx},
	 		#{review_writer},
	 		#{review_star},
	 		#{review_title},
	 		#{review_content},
	 		#{review_image},
	 		sysdate,
	 		#{member_idx}
	 	)
	</insert>
	<!-- 2.리뷰 수정  -->
	<update id="update" parameterType="org.storemap.domain.ReviewVO">
		update review set 
			review_writer = #{review_writer},
		 	review_star = #{review_star},
		 	review_title = #{review_title},
		 	review_content = #{review_content},
		 	member_idx = #{member_idx},
		 	review_regdate = sysdate
	 	where review_idx = #{review_idx}
	</update>
	<!-- 3.리뷰 삭제  -->
	<delete id="delete" parameterType="int">
		delete from review where review_idx = #{review_idx}
	</delete>
	<!-- 4.리뷰 전체 보기  -->
	<select id="getReviewList" parameterType="int" resultType="org.storemap.domain.ReviewVO">
		select * from review where store_idx = #{store_idx}
	</select>
	<!-- 5.숨긴 리뷰 전체 보기 -->
	<select id="getReviewHiddenList" resultMap="reviewMap">
		SELECT r.*, a.filename
		FROM review r
		LEFT OUTER JOIN attach_file a ON r.review_image = a.uuid
		WHERE review_hidden = 1
	</select>
	<!-- 6.리뷰 조인 전체 보기 -->
	<select id="getReviewMap" parameterType="int" resultMap="reviewMap">
		SELECT r.*, a1.filename AS review_filename, a2.filename AS writer_filename, m.member_image
		FROM review r
		LEFT OUTER JOIN attach_file a1 ON r.review_image = a1.uuid
		LEFT OUTER JOIN member m ON r.member_idx = m.member_idx
		LEFT OUTER JOIN attach_file a2 ON m.member_image = a2.uuid
		WHERE r.store_idx = #{store_idx}
	</select>
	<!-- 7.리뷰 자세히 보기  -->
	<select id="read" parameterType="int" resultType="org.storemap.domain.ReviewVO">
		select * from review where review_idx = #{review_idx}
	</select>
	<!-- 리뷰 조인 자세히 보기 필요하나요? -->
	
	<!-- 8.해당 점포에 동일한 리뷰를 가지고 있는지 검증 -->
	<select id="getSame" parameterType="int" resultType="org.storemap.domain.ReviewVO">
		select * from review where store_idx = #{param1} AND member_idx = #{param2}
	</select>
	<!-- 9.리뷰 숨기기 등록 -->
	<update id="hideReview" parameterType="int">
		update review set 
			review_hidden = 1
		where review_idx = #{review_idx}
	</update>
	<!-- 10.리뷰 숨기기 해제 -->
	<update id="unhideReview" parameterType="int">
		update review set 
			review_hidden = 0
		where review_idx = #{review_idx}
	</update>
	<!-- 11.점포 좋아요 업 -->
	<update id="updateFavorite" parameterType="int">
		update review set
			review_like_cnt = review_like_cnt + 1
		where review_idx = #{review_idx}
	</update>
	<!-- 12.점포 좋아요 다운 -->
	<update id="deleteFavorite" parameterType="int">
	    update review set
	        review_like_cnt = GREATEST(review_like_cnt - 1, 0)
	    where review_idx = #{review_idx}
	</update>
	
</mapper>
