<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.storemap.mapper.StoreLikeMapper">
	
	<!-- 1.점포 좋아요 등록  -->
	<insert id="insert" parameterType="int">
		insert into store_like values(
	 		#{param1},
	 		#{param2}
	 	)
	</insert>
	<!-- 2.점포 좋아요 삭제  -->
	<delete id="delete" parameterType="int">
		delete from store_like where store_idx = #{param1} AND member_idx = #{param2}
	</delete>
	<!-- 3.점포 좋아요한 목록 보기  -->
	<select id="getStoreLikeList" parameterType="int" resultType="org.storemap.domain.StoreLikeVO">
		select * from store_like where member_idx = #{member_idx}
	</select>
	<!-- 4.내가 좋아요한 점포번호 가져오기  -->
	<select id="getStoreIdx" parameterType="int" resultType="org.storemap.domain.StoreLikeVO">
		select * from store_like where store_idx = #{param1} AND member_idx = #{param2}
	</select>
	
</mapper>