<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.storemap.mapper.StoreDeclarationMapper">
	<resultMap id="storeDeclarationMap" type="org.storemap.domain.StoreDeclarationVO">
		<result property="store_idx" column="store_idx"/>
		<result property="member_idx" column="member_idx"/>
		<result property="declaration_category" column="declaration_category"/>
		<result property="declaration_content" column="declaration_content"/>
		<result property="regdate" column="regdate"/>
		<result property="declaration_count" column="declaration_count"/>
		<association property="store" resultMap="storeMap"/>
		<association property="member" resultMap="memberMap"/>
		<association property="attach" resultMap="attachMap"/>
	</resultMap>
	<resultMap id="storeMap" type="org.storemap.domain.StoreVO">
		<id property="store_idx" column="store_idx"/>
		<result property="member_idx" column="member_idx"/>
		<result property="store_name" column="store_name"/>
		<result property="store_image" column="store_image"/>
		<result property="store_num" column="store_num"/>
		<result property="store_email" column="store_email"/>
		<result property="store_address" column="store_address"/>
		<result property="store_area" column="store_area"/>
		<result property="store_activity_time" column="store_activity_time"/>
		<result property="store_content" column="store_content"/>
		<result property="store_like_cnt" column="store_like_cnt"/>
		<result property="store_hidden" column="store_hidden"/>
		<result property="store_rnum" column="store_rnum"/>
		<result property="store_lat" column="store_lat"/>
		<result property="store_lng" column="store_lng"/>
		<result property="store_regcode" column="store_regcode"/>
	</resultMap>
	<resultMap id="memberMap" type="org.storemap.domain.MemberVO">
		<id property="member_idx" column="member_idx"/>
		<result property="member_name" column="member_name"/>
	</resultMap>
	<resultMap id="attachMap" type="org.storemap.domain.AttachFileVO">
		<id property="attach_idx" column="attach_idx"/>
		<result property="filename" column="filename"/>
		<result property="uuid" column="uuid"/>
	</resultMap>

	<!-- 1.점포 신고 등록  -->
	<insert id="insert" parameterType="org.storemap.domain.StoreDeclarationVO">
		insert into store_declaration values(
	 		#{store_idx},
	 		#{member_idx},
	 		#{declaration_category},
	 		#{declaration_content}
	 	)
	</insert>
	<!-- 2.점포 신고 삭제  -->
	<delete id="delete" parameterType="int">
		delete from store_declaration where store_idx = #{param1} AND member_idx = #{param2}
	</delete>
	<!-- 3.점포 신고 전체 삭제 -->
	<delete id="deleteAll" parameterType="int">
		delete from store_declaration where store_idx = #{store_idx}
	</delete>
	<!-- 4.점포 신고 목록  -->
	<select id="getStoreDeclarationList" resultType="org.storemap.domain.StoreDeclarationVO">
		select * from store_declaration
	</select>
	<!-- 5.점포 신고 보기  -->
	<select id="read" parameterType="int" resultType="org.storemap.domain.StoreDeclarationVO">
		select * from store_declaration where store_idx = #{store_idx} AND member_idx = #{member_idx}
	</select>
	<!-- 6.점포 조인 신고 목록 -->
	<select id="getStoreDeclarationMap" resultMap="storeDeclarationMap">
		SELECT s.store_idx,
			   s.member_idx,
			   s.store_name,
			   s.store_image,
			   s.store_num,
			   s.store_email,
			   s.store_address,
			   s.store_area,
			   s.store_activity_time,
			   s.store_hidden,
			   s.store_rnum,
			   a.filename,
			   d.store_idx,
			   d.regdate,
			   COUNT(*) AS declaration_count
		FROM store_declaration d
		JOIN store s ON d.store_idx = s.store_idx
		LEFT JOIN attach_file a ON s.store_image = a.uuid
		GROUP BY d.store_idx,
				 d.regdate,
				 a.filename,
				 s.store_idx,
				 s.member_idx,
				 s.store_name,
				 s.store_image,
				 s.store_num,
				 s.store_email,
				 s.store_address,
				 s.store_area,
				 s.store_activity_time,
				 s.store_hidden,
				 s.store_rnum
		ORDER BY d.regdate DESC
	</select>
	<!-- 7.점포 조인 신고 디테일 목록 -->
	<select id="getStoreDeclarationDetailMap" resultMap="storeDeclarationMap">
		SELECT m.member_name, d.*
		FROM store_declaration d
		JOIN member m ON d.member_idx = m.member_idx
		ORDER BY d.regdate DESC
	</select>
	
	<select id="getCount" parameterType="int" resultType="int">
		SELECT COUNT(*) 
		FROM STORE_DECLARATION 
		WHERE STORE_IDX = #{store_idx}
	</select>
	
</mapper>