<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.storemap.mapper.StoreRequestMapper">
	<resultMap id="disReqListMap" type="org.storemap.domain.StoreRequestVO">
		<result property="member_idx" column="member_idx"/>
		<result property="pon" column="pon"/>
		<association property="member" resultMap="memberMap"/>
		<association property="store" resultMap="storeMap"/>
		<association property="attach" resultMap="attachMap"/>
	</resultMap>
	<resultMap id="storeMap" type="org.storemap.domain.StoreVO">
		<id property="store_idx" column="store_idx"/>
		<result property="member_idx" column="member_idx"/>
		<result property="store_name" column="store_name"/>
		<result property="store_image" column="store_image"/>
		<result property="store_num" column="store_num"/>
		<result property="store_email" column="store_email"/>
		<result property="store_address" column="store_address"/>
		<result property="store_area" column="store_area"/>
		<result property="store_activity_time" column="store_activity_time"/>
		<result property="store_content" column="store_content"/>
		<result property="store_like_cnt" column="store_like_cnt"/>
		<result property="store_hidden" column="store_hidden"/>
		<result property="store_rnum" column="store_rnum"/>
		<result property="store_lat" column="store_lat"/>
		<result property="store_lng" column="store_lng"/>
		<result property="store_regcode" column="store_regcode"/>
	</resultMap>
	<resultMap id="memberMap" type="org.storemap.domain.MemberVO">
		<id property="member_idx" column="member_idx"/>
		<result property="member_name" column="member_name"/>
	</resultMap>
	<resultMap id="attachMap" type="org.storemap.domain.AttachFileVO">
		<id property="attach_idx" column="attach_idx"/>
		<result property="filename" column="filename"/>
		<result property="uuid" column="uuid"/>
	</resultMap>

	<!-- 1.점주 신청 요청 등록  -->
	<insert id="insert" parameterType="int">
		insert into store_request (
			member_idx
		)
		values(
	 		#{member_idx}
	 	)
	</insert>
	<!-- 2.점주 신청 요청 수락 -->
	<update id="update" parameterType="int">
		update store_request set
		pon = 1
		where member_idx = #{member_idx}
	</update>
	<!-- 3.점주 신청 요청 삭제  -->
	<delete id="delete" parameterType="int">
		delete from store_request where member_idx = #{member_idx}
	</delete>
	<!-- 4.점주 신청 요청 리스트 불러오기 -->
	<select id="getDisReqList" resultType="org.storemap.domain.StoreRequestVO">
		SELECT * FROM store_request WHERE pon = 0
	</select>
	<!-- 5.점주 신청 요청 리스트 이름으로 불러오기 -->
	<select id="getDisReqListMap" resultMap="disReqListMap">
		SELECT r.member_idx, m.member_name, s.*, r.pon, a.filename
		FROM member m, store s, store_request r, attach_file a
		WHERE r.pon = 0 AND r.member_idx = m.member_idx AND r.member_idx = s.member_idx
	</select>
	
</mapper>
